<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche de films</title>
    <style>
        .movie-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            align-items: stretch;
            /* Aligne les éléments en termes de hauteur */
        }

        .movie {
            background-color: #313131;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .movie img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Ajuste la taille de l'image pour couvrir complètement le conteneur tout en conservant son ratio d'aspect */
            border-radius: 5px;
            margin-bottom: 10px;
        }


        .movie-title {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 5px;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        .movie-year {
            color: #ffffff;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Résultats de la recherche de films</h1>
    <div class="movie-container">
        <% movies.forEach(function(movie) { %>
            <div class="movie">
                <img src="<%= movie.Poster %>" alt="<%= movie.Title %>">
                <div class="movie-title">
                    <%= movie.Title %>
                </div>
                <div class="movie-year">Année de sortie : <%= movie.Year %>
                </div>
            </div>
            <% }); %>
    </div>

    <!-- Pagination -->
    <!-- Pagination -->
<div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="/search?q=<%= searchTerm %>&page=<%= currentPage - 1 %>" class="prev">Page précédente</a>
    <% } %>
    <% if (currentPage < totalPages) { %>
        <a href="/search?q=<%= searchTerm %>&page=<%= currentPage + 1 %>" class="next">Page suivante</a>
    <% } %>
</div>

    

</body>

</html>
